body {
  margin: 20px;
  font-family: "Inter", sans-serif;
  max-width: 800px;
}
.container {
  text-align: center;
}

.jumbo {
  background-color: rgb(99, 84, 250);
  border-radius: 10px 10px 0 0;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jumbo h1 {
  margin-top: 20px;
}

input {
  height: 120px;
  width: 180px;
  background-color: rgb(99, 84, 250);
  border: 1px rgb(152, 133, 249) solid;
  border-radius: 4px;
  font-size: 100px;
  text-align: center;
  color: white;
}
button {
  margin: 20px;
  background-color: white;
  color: rgb(99, 84, 250);
  padding: 10px 30px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 20px;
}

.content {
  margin: 0;
  padding: 10px;
  background-color: rgb(244, 244, 243);
  border-radius: 0 0 10px 10px;
}
.container h4 {
  color: rgb(84, 80, 118);
}
.content div {
  background-color: white;
  padding: 5px 25px;
  margin: 10px;
}
